@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {


  html,
  body {
    @apply dark:bg-trueGray-900 overflow-x-hidden;
  }
}

@layer components {
  .btn-base {
    @apply px-3 py-1.5 border rounded-md text-xs text-center font-bold transition-all whitespace-nowrap;
  }

  .btn-primary {
    @apply btn-base border-white/60 text-white bg-primary-600 hover:bg-primary-700;
  }

  .btn-secondary {
    @apply bg-gray-100 text-gray-700 hover:bg-gray-200;
  }

  .btn-white {
    @apply btn-base border-primary-600 text-primary-600 bg-white hover:border-white hover:bg-primary-600 hover:text-white;
  }
}